.chart-container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.chart-underline{
    color: #A3AC63;
}

.information-chart-container ul{
    text-align: left;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");






/* style for underline */
.structure-of-usage-field-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 40px;
  margin-left: -2px;
  margin-bottom: 15px;
}



.structure-of-usage-col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: auto;
  max-width: 100%;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.structure-of-usage-btn {
  padding: 0;
  color: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.structure-of-usage-dot {
  display: inline-block;
  width: 1vh;
  height: 1vh;
  line-height: 1;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 5px;
}

.structure-of-usage-category-name {
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
}



@media screen and (max-width:1000px){
    .structure-of-usage-progress-stepped{
      display: block;
      height: 100px;
    }
}