.steps-layout{
    display: flex;
    justify-content: space-around;
}

.step-container{
    background-color: #A3AD62;
    width: 25%;
    margin: 5vh;
    padding: 2%;
}
.step-text-container{
    text-align: left;
}

.section-content-header{
    font-size: 2.5vh;
}


.content-paragraph{
    font-size: 2vh;
}