
.huge-title-h1{
    color: rgb(250, 250, 250);
}

.middle-title-h1{
    color: #A3AD62;
}

.container {
    padding-top: 10vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.container__half {
    flex: 1;
}

.image-container{
    -webkit-filter: drop-shadow( 10px 10px 7px #000000b3);
    filter: drop-shadow( 10px 10px 7px rgba(0, 0, 0, .7));
    width: 75%;
    align-content: center;
    margin: 1vw;
    display: block;}

.contact-element{
    color: rgb(250, 250, 250);
}

.text-session{
    color: rgb(250, 250, 250);
    text-align: left;
    font-size: 70%;
}

.text-session span{
    color: #A3AB62;
}

.text-session li{
    list-style: square;
    list-style-image: linear-gradient(#A2AA60 50%, #A2AA60 50%);

    border-radius: 5px;
    font-size: 100%;
}

.contact-element a{
    color: rgb(250, 250, 250);    
}

@media screen and (max-width:700px){
    #problem div.container__half{
        display: none;
        flex: 0;
    }    
}